{% extends 'common/base.html' %}


{% block content %}
    <div id="main">
        {% for post in posts %}
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr|truncatechars:100 }}</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="{{ post.published_date }}">{{ post.published_date }}</time>
                        <!--<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg"
                                                                                          alt=""/></a>-->
                    </div>
                </header>
                <a href="{% url 'post_detail' pk=post.pk %}" class="image featured">
                    <img src="media/{{ post.photo }}" alt="img">
                </a>
                <p>{{ post.text|linebreaksbr|truncatechars:200 }}</p>
                <footer>
                    <ul class="actions">
                        <li><a href="{% url 'post_detail' pk=post.pk %}" class="button big">Continue Reading</a></li>
                    </ul>
                    <!--<ul class="stats">
                        <li><a href="#">General</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="#" class="icon fa-comment">128</a></li>
                    </ul>-->
                </footer>
            </article>
        {% endfor %}

        {% include 'common/pagination.html' %}

    </div>

    {% include 'common/sidebar.html' %}

{% endblock %}
